<div class="row">
	<div class="panel panel-primary" style="border: 0px;">
		<div class="panel-body">
			<table class="table table-hover table-responsive matchTable">
				<thead>
					<tr>
						<th class="text-center"><span class="glyphicon glyphicon-calendar"></span> Dátum</th>
						<th class="text-center"></th>
						<th class="text-center">Eredmény</th>
						<th class="text-center"></th>
						<th style="text-align: left">Ellenfél</th>
						<th style="text-align: left">Verseny</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="match in matches">
						<td>{{match.matchDate}}</td>
						<td>
							<span ng-if="match.atHome" class="glyphicon glyphicon-home" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Otthon"></span>
							<span ng-if="!match.atHome" class="glyphicon glyphicon-briefcase" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" title="" data-original-title="Idegenben"></span>
						</td>
						<td><strong>{{match.homeGoalAmount}} - {{match.awayGoalAmount}}</strong></td>
						<td>
							<span ng-if="match.matchResultType == 'WIN'" class="label label-success" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Győzelem">Gy</span>
							<span ng-if="match.matchResultType == 'LOSE'" class="label label-danger" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Vereség">V</span>
							<span ng-if="match.matchResultType == 'DRAW'" class="label label-warning" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Döntetlen">D</span>
						</td>
						<td style="text-align: left">{{match.homeClub.name}}</td>
						<td>{{match.competition.competitionInfo.name}}</td>
						<td><a ng-href="#/competition/competitionName/stage/stageName/turn/{{match.index}}/club/{{match.clubId.id}}" ng-class="match.played ? 'btn btn-success btn-xs' : 'hidden'"><i
								class="glyphicon glyphicon-book"
							></i> Jegyzőkönyv</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>