<div class="container col-md-12">
	<div class="container col-md-12 clubMainContainer">
		<div class="panel panel-primary" style="border: 0px;">
			<div class="panel-body">
				<table class="table table-hover table-responsive playerTable">
					<thead>
						<tr>
							<th class="text-center">Mez</th>
							<th>Név</th>
							<th class="text-center">Életkor</th>
							<th class="text-center">Születesnap</th>
							<th class="text-center">Nemzetiség</th>
							<th class="text-center">Meccsek</th>
							<th class="text-center">Golok</th>
							<th class="text-center">Sarga</th>
							<th class="text-center">Piros</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in players" ng-click="selectPlayer(player)">
							<td class="text-center">
								<div style="padding-top: 10px"><strong>#{{player.number}}</strong></div>
							</td>
							<td>
								<strong>{{player.name}}</strong>
							</td>
							<td class="text-center">{{player.age}}</td>
							<td class="text-center">{{player.birthday}}</td>
							<td class="text-center">{{player.nationality}}</td>
							<td class="text-center">{{getPlayerTotalMatches(player)}}</td>
							<td class="text-center">{{getPlayerTotalGoals(player)}}</td>
							<td class="text-center">{{getPlayerTotalYellowCards(player)}}</td>
							<td class="text-center">{{getPlayerTotalRedCards(player)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
