<div class="container col-md-12">
	<div class="container col-md-12 clubMainContainer">
		<div class="panel panel-primary" style="border: 0px;">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active" ng-repeat="competition in competitions">
						<a href="#first" data-toggle="tab" aria-expanded="true">
							<strong>{{competition.competitionInfo.name}}</strong>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="first">
						<table class="table table-hover table-responsive">
							<thead>
								<tr>
									<th class="text-center" style="width: 50px">#</th>
									<th>Csapat</th>
									<th>M</th>
									<th>Gy</th>
									<th>D</th>
									<th>V</th>
									<th>LG</th>
									<th>KG</th>
									<th>GK</th>
									<th>P</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-class='calculatePositionHighlights($index)' ng-repeat="tableRow in tables | orderBy : '-point'">
									<td class="text-center">
										<strong>{{$index + 1}}.</strong>
									</td>
									<td>
										<strong>{{tableRow.club.name}}</strong>
									</td>
									<td>{{tableRow.playedMatches}}</td>
									<td>{{tableRow.win}}</td>
									<td>{{tableRow.draw}}</td>
									<td>{{tableRow.lose}}</td>
									<td>{{tableRow.scoredGoals}}</td>
									<td>{{tableRow.concerdGoals}}</td>
									<td>{{tableRow.scoredGoals - tableRow.concerdGoals}}</td>
									<td>
										<strong>{{tableRow.point}}</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade in" id="second"></div>
				</div>
			</div>
			<div class="panel-footer">M: merkozesek, Gy: Gyozelem, D: Dontetlen, V: Vereseg, LG: Lott Golok, KG: Kapott Golok, GK: GolKulonbseg, P: pont
			</div>
		</div>
	</div>
</div>
