<div class="row">
	<div class="col-md-3">
		<div class="container col-md-12 clubMainContainer" style="padding: 10px;">
			<com.sp.orgnizer.backend.club-infos></com.sp.orgnizer.backend.club-infos>
		</div>
		<div class="container col-md-12 clubMainContainer">
			<div class="row" style="margin-top: 20px">
				<div class="col-md-6">
					<div class="panel panel-danger">
						<div class="panel-heading" style="color: #ffffff; font-size: 12px; padding: 3px; text-align: center">Nov 20.</div>
						<div class="panel-body" style="text-align: center; padding: 5px;">
							<strong>17:00</strong>
							<p>
								<img data-src="static/images/picto/weather/rain.png" class="img-responsive" alt="Crest picture" src="static/images/picto/weather/rain.png"
									data-holder-rendered="true" style="width: 20px; height: 20px; display: inline">
								20 &#8451;
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6" style="text-align: center">
					<img data-src="static/images/crest/szszbm/tarpa_big.jpg" class="img-responsive img-thumbnail" alt="Crest picture"
						src="static/images/crest/szszbm/tarpa_big.jpg" data-holder-rendered="true" style="width: 50px; height: 50px;">
					<div>Tarpa SC (3.)</div>
				</div>
			</div>
		</div>
		<div class="container col-md-12 clubMainContainer">
			<div class="text-center">
				<h4>Csapat statisztikak</h4>
			</div>
			<dl class="dl-horizontal clubDetails">
				<dt>
					<strong>15</strong>
				</dt>
				<dd>Meccs</dd>
				<dt>
					<strong>32</strong>
				</dt>
				<dd>Lott gol</dd>
				<dt>
					<strong>16</strong>
				</dt>
				<dd>Kapott gol</dd>
				<dt>
					<strong>8</strong>
				</dt>
				<dd>Sarga lap</dd>
				<dt>
					<strong>3</strong>
				</dt>
				<dd>Piros lap</dd>
			</dl>
			<div class="text-center">
				<h4>Jatekos statisztikak</h4>
			</div>
			<dl class="dl-horizontal clubDetails">
				<dt>
					<strong>2</strong>
				</dt>
				<dd>Kiss Pista</dd>
				<dt>
					<strong>3</strong>
				</dt>
				<dd>Nagy Ádám</dd>
				<dt>
					<strong>12</strong>
				</dt>
				<dd>Gera Zoltán</dd>
			</dl>
		</div>
	</div>
	<div class="container col-md-9">
		<div class="container col-md-12 clubMainContainer">
			<stage-table></stage-table>
		</div>
	</div>
</div>
