a {
    text-decoration: none !important;
    cursor: pointer;
}

hr {
	border-top: solid 1px #dfd7ca;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.last-turn-match-card {
    cursor: pointer;
}

.mainNav .nav > li.dropdown.open {
    position: static;
}
.mainNav .nav > li.dropdown.open .dropdown-menu {
    display:table; width: 100%; text-align: center; left:0; right:0;
}
.mainNav > .dropdown-menu>li {
    display: table-cell;
}

.list-group-item {
	padding: 5px !important;
	background-color: #3e3f3a !important;
	border: none;
	color: #93c54b;
	cursor: pointer;
	font-size: small;
	margin: 2px 0 2px 0;
}

.list-group-item:hover {
	padding: 5px !important;
	background-color: #93c54b !important;
	border: none;
	color: #3e3f3a;
}

.list-group-item.active {
	padding: 5px !important;
	background-color: #93c54b !important;
	border: none;
	color: #3e3f3a;
}

body {
    padding-top: 70px;
    background-color: #EEEEEE;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.nav-pills > li {
    background-color: #FFFFFF;
    border-radius: 0px;
}

.nav-pills > li > a {
    font-size: 16px;
}

.matchTable > thead > tr > th {
    text-align: center;
}

.matchTable > tbody > tr {
    cursor: pointer;
}

.matchTable > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

td.matchResult {
    width: 5px;
}

.clubMainContainer {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.clubStatNumber {
    text-align: center;
    vertical-align: middle !important;
    font-size: x-large
}

.clubStatName {
    text-align: left;
    vertical-align: middle !important;
    width: 50%;
}

#clockdiv{
    text-align: center;
    font-size: large;
}

#clockdiv > div > span{
    border-radius: 3px;
    text-align: center;
    color: #244363 !important;
    margin: 5px;
    width: 22%;
    padding: 5px;
    float: left;
}

#clockdiv div > span{
    border-radius: 3px;
    text-align: center;
}

.matchDetails > dt {
	width: 20px;
}

.matchDetails > dd {
	margin-left: 25px; 
}

.clubDetails > dt {
	width: 50px;
}

.clubDetails > dd {
	margin-left: 55px; 
}

.panel-title {
	color: #3e3f3a !important;
}

img.playerEvents {
	width: 15px;
	height: 15px;
}

.playerTable > tbody > tr > td {
	vertical-align: middle !important;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.st-selected{
    color:cornflowerblue ;
}