<div *ngIf="selectedTurn" >
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th colspan="6" class="text-center">{{selectedTurn.index}}. forduló {{selectedTurn.interval}}</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let match of matches">
                <!--<td class="text-center">{{match.matchDate}}</td>-->
                <td class="text-right">{{match.homeClubDocumentResource.name}}</td>
                <td class="text-right">{{match.homeGoalAmount}}</td>
                <td class="text-center"> - </td>
                <td>{{match.awayGoalAmount}}</td>
                <td>{{match.awayClubDocumentResource.name}}</td>
            </tr>
        </tbody>
    </table>
</div>