<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div class="col-sm-5">
                <div class="row">
                    <blockquote style="font-size: medium">
                        <p>Megérdemelt, magabiztos győzelmet arattunk. Az edzésen gyakorolt figuráink közül kettő is ült
                            éles szituációban, gratulálok a fiúknak a mai teljesítményhez.</p>
                        <footer><strong>Rozman Sándor</strong><cite title="Source Title">Csenger Fc edzője</cite>
                        </footer>
                    </blockquote>
                </div>
                <div class="row">
                    <blockquote style="font-size: medium">
                        <p>A végeredmény nem tükrözi hűen az erőviszonyokat. Jól játszva vereséget
                            szenvedtünk a kárpátaljai válogatottól. Sajnos a kapu előtt határozatlanok voltunk, kiváló
                            játékvezetés mellett, emelt fővel távozunk. Hajrá, Bozsik-program!</p>
                        <footer><strong>Orosz András</strong><cite title="Source Title">Vámosorszi KSE edzője</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-5 text-center"><p>Vámosorsozi KSE</p></div>
                    <div class="col-sm-2 text-center"><p>3 : 3</p></div>
                    <div class="col-sm-5 text-center"><p>Csenger FC</p></div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Mez</th>
                            <th class="text-right">Név</th>
                            <th></th>
                            <th></th>
                            <th class="text-left">Név</th>
                            <th class="text-right">Mez</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Szaniszló Ádám</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makay Zoltán</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Márton János</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Juhász András</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Somogyi Tamás</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Rudnák Róbert</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Róka Richárd János</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makszim Gábor</td>
                            <td class="text-right">19</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td class="text-right">Jóni Richárd</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Molnár Róbert</td>
                            <td class="text-right">5</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Szaniszló Ádám</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makay Zoltán</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Szaniszló Ádám</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makay Zoltán</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Szaniszló Ádám</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makay Zoltán</td>
                            <td class="text-right">92</td>
                        </tr><tr>
                            <td>1</td>
                            <td class="text-right">Szaniszló Ádám</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makay Zoltán</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Szaniszló Ádám</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makay Zoltán</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td class="text-right">Szaniszló Ádám</td>
                            <td></td>
                            <td></td>
                            <td class="text-left">Makay Zoltán</td>
                            <td class="text-right">92</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-center">Csere</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>