a {
    text-decoration: none !important;
    cursor: pointer;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.last-turn-match-card {
    cursor: pointer;
}

body {
    padding-top: 70px;
    background-color: #EEEEEE;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.nav-pills > li {
    background-color: #FFFFFF;
    border-radius: 0px;
}

.nav-pills > li > a {
    font-size: 16px;
}

.matchTable > thead > tr > th {
    text-align: center;
}

.matchTable > tbody > tr {
    cursor: pointer;
}

.matchTable > tbody > tr > td {
    line-height: 50px;
    text-align: center;
}

td.matchResult {
    width: 5px;
}

.clubMainContainer {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    min-height: 700px
}

.bold {
    font-weight: bold;
}


