<div class="row">
	<div class="col-md-5">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					<blockquote style="font-size: medium">
						<p>A forduló rangadója! Mindkét fél számára egyfajta felmérő, hogy az eddigi eredmények mennyire valósak, mind pozitív, akárcsak negatív
							értelemben.</p>
						<footer>
							<cite title="Szimuly Gábor, a Mérk-Vállaj edzője"><strong>Szimuly Gábor</strong>, a Mérk-Vállaj edzője</cite>
						</footer>
					</blockquote>
				</div>
				<div class="row">
					<blockquote style="font-size: medium">
						<p>A forduló rangadója! Mindkét fél számára egyfajta felmérő, hogy az eddigi eredmények mennyire valósak, mind pozitív, akárcsak negatív
							értelemben.</p>
						<footer>
							<cite title="Szimuly Gábor, a Mérk-Vállaj edzője"><strong>Szimuly Gábor</strong>, a Mérk-Vállaj edzője</cite>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="panel">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Mez</th>
							<th class="text-right">Játékos</th>
							<th></th>
							<th></th>
							<th></th>
							<th>Játékos</th>
							<th class="text-right">Mez</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>