<div class="text-center">
	<img data-src="static/images/crest/szszbm/vamosoroszi_big.jpg" class="img-responsive img-thumbnail" alt="Crest picture"
		src="static/images/crest/szszbm/vamosoroszi_big.jpg" data-holder-rendered="true" style="width: 100px; height: 100px;">
</div>
<div class="text-center">
	<h3>Vámosoroszi KSE</h3>
</div>
<dl class="dl-horizontal matchDetails">
	<dt>
		<i class="glyphicon glyphicon-envelope"></i>
	</dt>
	<dd>vamosoroszi@mma.com</dd>
	<dt>
		<i class="glyphicon glyphicon-phone"></i>
	</dt>
	<dd>+36 70 123 45 67</dd>
	<dt>
		<i class="glyphicon glyphicon-home"></i>
	</dt>
	<dd>4969 Andy Endre út 1/17</dd>
</dl>