<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 class="page-header">
				Blog <small>posted by members</small>
			</h1>
			
			<table class="table">
				<tr ng-repeat="blogPost in blogPosts">
					<td>
						<h2>
							<a href="#/blog/{{blogPost.id}}">{{blogPost.title}}</a>
						</h2>
						<p class="lead">
							by <a href="#/members/{{blogPost.author.id}}">{{blogPost.author.name}}</a>
						</p>
						<p>
						</p>
						<hr>
						<p>{{blogPost.lead}}</p>
						<a class="btn btn-primary" href="#/blog/{{blogPost.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
						<hr>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-md-4">

			<div class="well">
				<h4>Blog Search</h4>
				<div class="input-group">
					<input type="text" class="form-control"> <span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>

			<div class="well">
				<h4>Blog Categories</h4>
				<div class="row">
					<div class="col-lg-6">
						<ul class="list-unstyled">
							<li><a href="#">Category Name</a></li>
							<li><a href="#">Category Name</a></li>
							<li><a href="#">Category Name</a></li>
							<li><a href="#">Category Name</a></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul class="list-unstyled">
							<li><a href="#">Category Name</a></li>
							<li><a href="#">Category Name</a></li>
							<li><a href="#">Category Name</a></li>
							<li><a href="#">Category Name</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="well">
				<h4>Side Widget Well</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
			</div>

		</div>

	</div>
	<hr>

	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p></p>
			</div>
		</div>
	</footer>

</div>