<div class="container col-md-8">
	<div class="container col-md-12 clubMainContainer">
		<div class="panel">
			<div class="panel-body">
				<table class="table" id="matchDetialPlayersTable">
					<thead style="border-bottom: none">
						<tr>
							<th colspan="2" style="width: 40%; border-bottom: 5px solid #93c54b; vertical-align: middle;" class="text-center">{{getTeamNames().homeClubName}}</th>
							<th style="font-size: xx-large" class="text-center"><span style="background-color: #f8f5f0; padding: 5px">{{match.homeGoalAmount}}</span>
								: <span style="background-color: #f8f5f0; padding: 5px">{{match.awayGoalAmount}}</span></th>
							<th colspan="2" style="width: 40%; border-bottom: 5px solid #3e3f3a; vertical-align: middle;" class="text-center">{{getTeamNames().awayClubName}}</th>
						</tr>
						<tr>
							<th>Mez szám</th>
							<th class="text-right">Játékos</th>
							<th></th>
							<th>Játékos</th>
							<th class="text-right">Mez szám</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in homeStarters">
							<td># {{player.shirtNumber}}</td>
							<td class="text-right">{{player.playerName}}</td>
							<td></td>
							<td>{{awayStarters[$index].playerName}}</td>
							<td class="text-right"># {{awayStarters[$index].shirtNumber}}</td>
						</tr>
					</tbody>
				</table>
				<table class="table" id="matchDetialPlayersTable">
					<thead>
						<tr>
							<th colspan="2" style="width: 40%"></th>
							<th class="text-center">Cserepad</th>
							<th colspan="2" style="width: 40%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in homeSubstitutions">
							<td># {{player.shirtNumber}}</td>
							<td class="text-right">{{player.playerName}}</td>
							<td></td>
							<td>{{awaySubstitutions[$index].playerName}}</td>
							<td class="text-right"># {{awaySubstitutions[$index].shirtNumber}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="container col-md-4">
	<div class="container col-md-12 clubMainContainer">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					<div class="panel panel-default" style="border: none">
						<div class="panel-heading">
							<h3 class="panel-title">Meccs adatok</h3>
						</div>
						<div class="panel-body">
							<dl class="dl-horizontal matchDetails">
								<dt>Bajnokság</dt>
								<dd>{{match.competitionName}}</dd>
								<dt>Forduló</dt>
								<dd>{{match.index}}.</dd>
								<dt>Dátum</dt>
								<dd>{{match.matchDate}}</dd>
								<dt>Jatekvezetok</dt>
								<dd>Kiss pista, Halmi Gabor, Gipsz Jakab</dd>
								<dt>Helyszin</dt>
								<dd>4969, Vámosoroszi Andy Endre út 1/17</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default" style="border: none">
						<div class="panel-heading">
							<h3 class="panel-title">Statisztika</h3>
						</div>
						<div class="panel-body">
							<div class="col-md-3 text-center">
								<img data-src="static/images/picto/goal.png" alt="Crest picture" src="../../../../static/images/picto/fans.png" data-holder-rendered="true"
									style="width: 50px; height: 50px;"
								>
								<h2 class="text-center">150</h2>
							</div>
							<div class="col-md-3 text-center">
								<img data-src="static/images/picto/red_card.png" alt="Crest picture" src="../../../../static/images/picto/red_card.png"
									data-holder-rendered="true" style="width: 50px; height: 50px;"
								>
								<h2 class="text-center text-danger">{{match.detailes.totalRedCardAmount}}</h2>
							</div>
							<div class="col-md-3 text-center">
								<img data-src="static/images/picto/yellow_card.png" alt="Crest picture" src="../../../../static/images/picto/yellow_card.png"
									data-holder-rendered="true" style="width: 50px; height: 50px;"
								>
								<h2 class="text-center text-warning">{{match.detailes.totalYellowCardAmount}}</h2>
							</div>
							<div class="col-md-3 text-center">
								<img data-src="static/images/picto/goal.png" alt="Crest picture" src="../../../../static/images/picto/goal.png" data-holder-rendered="true"
									style="width: 50px; height: 50px;"
								>
								<h2 class="text-center">{{match.homeGoalAmount + match.awayGoalAmount}}</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
