.mat-column-homeClub {
  text-align: left;
}
.mat-column-awayClub {
  text-align: right;
}
.mat-column-homeGoals,
.mat-column-awayGoals {
  max-width: 50px;
}

.mat-column-date {
  max-width: 200px;
}
