<div class="container col-md-12">
	<div class="container col-md-12 clubMainContainer">
		<div class="panel panel-primary" style="border: 0px;">
			<div class="panel-body">
				<table st-table="displayedMatches" st-safe-src="matches" class="table table-hover table-responsive table-condensed matchTable">
					<thead>
						<tr>
							<th st-sort="matchDate" class="text-center"><span class="glyphicon glyphicon-calendar"></span> Dátum</th>
							<th class="text-center"></th>
							<th class="text-center">Eredmény</th>
							<th class="text-center"></th>
							<th style="text-align: left">Ellenfél</th>
							<th style="text-align: left">Verseny</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="com.sp.organizer.backend.match in displayedMatches">
							<td>{{com.sp.organizer.backend.match.matchDate}}</td>
							<td>
								<span ng-if="com.sp.organizer.backend.match.atHome" class="glyphicon glyphicon-home" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Otthon"></span>
								<span ng-if="!com.sp.organizer.backend.match.atHome" class="glyphicon glyphicon-briefcase" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" title="" data-original-title="Idegenben"> </span></td>
							<td>
								<strong>{{com.sp.organizer.backend.match.homeGoalAmount}} -
									{{com.sp.organizer.backend.match.awayGoalAmount}}</strong>
							</td>
							<td>
								<span ng-if="com.sp.organizer.backend.match.matchResult === 'WIN'" class="label label-success" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Győzelem">Gy</span>
								<span ng-if="com.sp.organizer.backend.match.matchResult === 'LOSE'" class="label label-danger" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Vereség">V</span>
								<span ng-if="com.sp.organizer.backend.match.matchResult === 'DRAW'" class="label label-warning" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Döntetlen">D</span></td>
							<td style="text-align: left">{{com.sp.organizer.backend.match.opponentClubName}}</td>
							<td>{{com.sp.organizer.backend.match.competitionName}}</td>
							<td>
								<a ng-click="selectMatch(com.sp.organizer.backend.match)" ng-class="com.sp.organizer.backend.match.matchResult ? 'btn btn-success btn-xs' : 'hidden'">
									<i class="glyphicon glyphicon-book"></i> Jegyzőkönyv
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>