<div class="row">
	<div class="panel">
		<div class="panel-body">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<div class="panel">
					<div class="panel-body">
						<div class="container-fluid">
							<ul class="timeline">
								<li>
									<div class="timeline-badge info">
										<i class="glyphicon glyphicon-hand-left"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading"></div>
										<div class="timeline-body">
											<p></p>
										</div>
									</div>
								</li>
								<li class="timeline-inverted">
									<div class="timeline-badge warning">
										<i class="glyphicon glyphicon-chevron-right"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading"></div>
										<div class="timeline-body">
											<p></p>
										</div>
									</div>
								</li>
								<li>
									<div class="timeline-badge danger">
										<i class="glyphicon glyphicon-eye-open"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading"></div>
										<div class="timeline-body"></div>
									</div>
								</li>
								<li class="timeline-inverted">
									<div class="timeline-badge default">
										<i class="glyphicon glyphicon-home"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading"></div>
										<div class="timeline-body"></div>
									</div>
								</li>
								<li>
									<div class="timeline-badge default">
										<i class="glyphicon glyphicon-home"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading"></div>
										<div class="timeline-body"></div>
									</div>
								</li>
								<li>
									<div class="timeline-badge default">
										<i class="glyphicon glyphicon-arrow-left"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading"></div>
										<div class="timeline-body"></div>
									</div>
								</li>
								<li class="timeline-inverted">
									<div class="timeline-badge success">
										<i class="glyphicon glyphicon-thumbs-up"></i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading"></div>
										<div class="timeline-body"></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>