<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<!-- 				<h3 class="panel-title">Skills</h3> -->
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="container-fluid">
						<img data-src="public/images/8.jpg"
							class="img-responsive img-circle" alt="Profile picture"
							src="public/images/8.jpg" data-holder-rendered="true"
							style="width: 200px; height: 200px;">
						<table class="table">
							<tr ng-repeat="property in properties">
								<td>{{property.name + ":"}}</td>
								<td>{{property.value}}</td>
							</tr>
						</table>
						<canvas id="doughnut" class="chart chart-doughnut"
							chart-legend="true" chart-data="data" chart-labels="labels"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Jatekosok</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-striped table-responsive">
					<tr>
						<th>Nev</th>
						<th>Kor</th>
						<th>Poszt</th>
						<th>Lab</th>
						<th>Mez szam</th>
						<th>MMA index</th>
					</tr>
					<tr ng-repeat="player in players">
						<td>{{player.name}}</td>
						<td>{{player.age}}</td>
						<td>{{player.position}}</td>
						<td>{{player.leg}}</td>
						<td>{{player.number}}</td>
						<td>{{player.mennyeiIndex}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Tabella</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-striped table-responsive">
					<tr>
						<td>#</td>
						<td>Csapat</td>
						<td>P</td>
					</tr>
					<tr ng-repeat="club in clubs | orderBy : '-point'">
						<td>{{$index + 1}}</td>
						<td>{{club.name}}</td>
						<td>{{club.point}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>