<div class="row">
    <div class="panel panel-primary" style="border: 0px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center"><img
                                            data-src="static/images/crest/szszbm/vamosoroszi_big.jpg"
                                            class="img-responsive img-thumbnail" alt="Crest picture"
                                            src="static/images/crest/szszbm/vamosoroszi_big.jpg"
                                            data-holder-rendered="true"
                                            style="width: 100px; height: 100px;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="glyphicon glyphicon-tag"></span><strong> Név</strong></td>
                                    <td>Vámosoroszi KSE (VKSE)</td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-envelope"></span><strong> Email</strong></td>
                                    <td>vamosoroszi@mma.com</td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-phone"></span><strong> Telefon</strong></td>
                                    <td>+36 70 123 45 67</td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-home"></span><strong> Cím</strong></td>
                                    <td>4969 Andy Endre út 1/17</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div id="map" style="width:100%;height:500px"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="panel panel-default" style="border: 0px;">
                                    <div class="panel-heading">4. forduló - Megyei II. osztály - Kelet-Magyarország csoport</div>
                                    <div class="col-md-12">
                            <!--<div class="row">-->
                                            <!--<div class="col-md-2">-->
                                                <!--<h5>-->
                                                <!--<img data-src="static/images/picto/weather/rain.png"-->
                                                     <!--class="img-responsive" alt="Crest picture"-->
                                                     <!--src="static/images/picto/weather/rain.png"-->
                                                     <!--data-holder-rendered="true"-->
                                                     <!--style="width: 20px; height: 20px;"></h5>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-10">-->
                                                <!--<h5><img data-src="static/images/picto/trophy.png"-->
                                                         <!--class="img-rounded"-->
                                                         <!--alt="Klub"-->
                                                         <!--src="static/images/picto/trophy.png"-->
                                                         <!--data-holder-rendered="true"-->
                                                         <!--style="width: 25px; height: 25px;"> Megyei II. osztály-->
                                                    <!--Kelet-Magyarország csoport 2015/2016 </h5>-->

                                                <!--<p><strong>4. forduló</strong></p>-->

                                                <!--<p>jv: Homonai Péter (Lövei T., Nagy Cs.)</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-md-5" style="text-align: center">
                                                <img data-src="static/images/crest/szszbm/vamosoroszi_big.jpg"
                                                     class="img-responsive img-thumbnail" alt="Crest picture"
                                                     src="static/images/crest/szszbm/vamosoroszi_big.jpg"
                                                     data-holder-rendered="true"
                                                     style="width: 50px; height: 50px;">

                                                <div style="border-bottom: solid 3px #93c54b;">Vámosoroszi KSE (1.)
                                                </div>
                                                <div>
                                                    <span class="label label-success">GY</span>
                                                    <span class="label label-success">GY</span>
                                                    <span class="label label-success">GY</span>
                                                    <span class="label label-danger">V</span>
                                                    <span class="label label-warning">D</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading"
                                                         style="color: #ffffff; font-size: 12px; padding: 3px; text-align: center">
                                                        Nov 20.
                                                    </div>
                                                    <div class="panel-body" style="text-align: center; padding: 5px;">
                                                        <strong>17:00</strong>
                                                        <p><img data-src="static/images/picto/weather/rain.png"
                                                            class="img-responsive" alt="Crest picture"
                                                            src="static/images/picto/weather/rain.png"
                                                            data-holder-rendered="true"
                                                            style="width: 20px; height: 20px; display: inline"> 20 &#8451;</p>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="col-md-5" style="text-align: center">
                                                       <img data-src="static/images/crest/szszbm/tarpa_big.jpg"
                                                            class="img-responsive img-thumbnail" alt="Crest picture"
                                                            src="static/images/crest/szszbm/tarpa_big.jpg"
                                                            data-holder-rendered="true"
                                                            style="width: 50px; height: 50px;">

                                                       <div style="border-bottom: solid 3px #3e3f3a;">Tarpa SC (3.)</div>
                                                       <div>
                                                           <span class="label label-danger">V</span>
                                                           <span class="label label-danger">V</span>
                                                           <span class="label label-success">GY</span>
                                                           <span class="label label-danger">V</span>
                                                           <span class="label label-warning">D</span>
                                                       </div>
                                                   </div>
                                               </div>
                                               <!--<div class="row">-->
                                            <!--<blockquote style="font-size: medium">-->
                                                <!--<p> A forduló rangadója! Mindkét fél számára egyfajta felmérő, hogy-->
                                                    <!--az eddigi eredmények mennyire valósak, mind pozitív, akárcsak-->
                                                    <!--negatív értelemben.</p>-->
                                                <!--<footer><cite title="Szimuly Gábor, a Mérk-Vállaj edzője"><strong>Szimuly-->
                                                    <!--Gábor</strong>, a Mérk-Vállaj edzője</cite></footer>-->
                                            <!--</blockquote>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default" style="min-height: 200px; border: 0px;">
                                    <div class="panel-heading">Tabella</div>
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Csapat</th>
                                            <th>P</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>3.</td>
                                            <td>Tarpa SC</td>
                                            <td>12</td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Csenger FC</td>
                                            <td>10</td>
                                        </tr>
                                        <tr class="info">
                                            <td>5.</td>
                                            <td>Vámosoroszi KSE</td>
                                            <td>9</td>
                                        </tr>
                                        <tr>
                                            <td>6.</td>
                                            <td>Tisztaberek SE</td>
                                            <td>8</td>
                                        </tr>
                                        <tr class="right">
                                            <td>7.</td>
                                            <td>Szatmarcseke KSE</td>
                                            <td>5</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default" style="min-height: 200px; border: 0px;">
                                    <div class="panel-heading">Jatékos információk</div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td><img data-src="static/images/picto/red_card.png"
                                                     class="img-responsive" alt="Crest picture"
                                                     src="static/images/picto/red_card.png"
                                                     data-holder-rendered="true"
                                                     style="width: 50px; height: 50px;"></td>
                                            <td class="clubStatName"><p><strong>Legtöbb piros</strong></p>Kiss Pista
                                            </td>
                                            <td class="clubStatNumber">2</td>
                                        </tr>
                                        <tr>
                                            <td><img data-src="static/images/picto/yellow_card.png"
                                                     class="img-responsive" alt="Crest picture"
                                                     src="static/images/picto/yellow_card.png"
                                                     data-holder-rendered="true"
                                                     style="width: 50px; height: 50px;"></td>
                                            <td class="clubStatName"><p><strong>Legtöbb sárga</strong></p>Nagy Ádám
                                            </td>
                                            <td class="clubStatNumber">3</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 75px"><img
                                                    data-src="static/images/picto/goal.png"
                                                    class="img-responsive" alt="Crest picture"
                                                    src="static/images/picto/goal.png"
                                                    data-holder-rendered="true"
                                                    style="width: 50px; height: 50px;"></td>
                                            <td class="clubStatName"><p><strong>Legtöbb gól</strong></p>Gera Zoltán
                                            </td>
                                            <td class="clubStatNumber">12</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>