<div class="row">
	<div class="panel panel-primary" style="border: 0px;">
		<div class="panel-body">
			<table class="table table-hover table-responsive matchTable">
				<thead>
					<tr>
						<th class="text-center"><span class="glyphicon glyphicon-calendar"></span> Dátum</th>
						<th class="text-center"></th>
						<th class="text-center">Eredmény</th>
						<th class="text-center"></th>
						<th style="text-align: left">Ellenfél</th>
						<th style="text-align: left">Verseny</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="match in matches">
						<td>{{match.matchDate}}</td>
						<td>
							<span ng-if="match.atHome" class="glyphicon glyphicon-home" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-original-title="Otthon"></span>
							<span ng-if="!match.atHome" class="glyphicon glyphicon-briefcase" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" title="" data-original-title="Idegenben"></span>
						</td>
						<td><strong>{{match.result.homeGoalAmount}} - {{match.result.awayGoalAmount}}</strong></td>
						<td>
							<span ng-if="(match.resultType == 'HOME' && match.atHome) || (match.resultType == 'AWAY' && !match.atHome)" class="label label-success">Gy</span>
							<span ng-if="(match.resultType == 'AWAY' && match.atHome) || (match.resultType == 'HOME' && !match.atHome)" class="label label-danger">V</span>
							<span ng-if="match.resultType == 'DRAW'" class="label label-warning">D</span>
						</td>
						<td style="text-align: left">{{match.opponentClubId.fullName}}</td>
						<td>{{match.competitionName}}</td>
						<td><a ng-href="#/competation/1/matches/1" ng-class="match.played ? 'btn btn-success btn-xs' : 'hidden'"><i
								class="glyphicon glyphicon-book"
							></i> Jegyzőkönyv</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>