<div class="row">
    <div class="panel panel-primary" style="border: 0px;">
        <div class="panel-body">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Nev</th>
                        <th>Kor</th>
                        <th>Szuletesnap</th>
                        <th>Mez szam</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players">
                        <td>{{player.name}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.birthday}}</td>
                        <td>{{player.number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>