<div class="row">
    <div class="panel panel-primary" style="border: 0px;">
        <div class="panel-body">
            <div class="col-md-6">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Név</th>
                        <th>Életkor</th>
                        <th>Születesnap</th>
                        <th>Nemzetiség</th>
                        <th>Mez szám</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in players">
                        <td>{{player.name}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.birthday}}</td>
                        <td>{{player.nationality}}</td>
                        <td>{{player.number}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th colspan="2">{{player.number}}</th>
                        <th></th>
                        <th colspan="2">{{player.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in players">
                        <td>{{player.name}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.birthday}}</td>
                        <td>{{player.nationality}}</td>
                        <td>{{player.number}}</td>
                    </tr>
                    </tbody>
                </table>
            <div>
        </div>
    </div>
</div>