<div class="row">
    <div class="panel panel-primary" style="border: 0px;">
        <div class="panel-body">
            <p><strong><img data-src="static/images/picto/trophy.png"
                             class="img-rounded"
                             alt="Klub"
                             src="static/images/picto/trophy.png"
                             data-holder-rendered="true"
                             style="width: 25px; height: 25px;"> Megyei II. osztály - Kelet-Magyarország csoport - 2015/2016 - 1.fordulo</strong></p>
            <table class="table table-hover table-striped table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Csapat</th>
                    <th>M</th>
                    <th>Gy</th>
                    <th>D</th>
                    <th>V</th>
                    <th>LG</th>
                    <th>KG</th>
                    <th>GK</th>
                    <th>P</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class='calculatePositionHighlights($index)' ng-repeat="club in clubs | orderBy : '-point'">
                    <td>{{$index + 1}}</td>
                    <td>{{club.name}}</td>
                    <td>{{club.match}}</td>
                    <td>{{club.win}}</td>
                    <td>{{club.draw}}</td>
                    <td>{{club.lose}}</td>
                    <td>{{club.goalScored}}</td>
                    <td>{{club.goalConcerd}}</td>
                    <td>{{club.goalScored - club.goalConcerd}}</td>
                    <td>{{club.win * 3 + club.draw}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <small>M: merkozesek, Gy: Gyozelem, D: Dontetlen, V: Vereseg, LG: Lott Golok, KG: Kapott Golok, GK:
                GolKulonbseg, P: pont
            </small>
        </div>
    </div>
</div>
</div>