<div class="container col-md-12">
    <div class="container col-md-12">
        <div class="sp-panel">
            <div class="panel-heading">
                <div class="panel-title" *ngIf="competitionResource">
                    <h3>{{competitionResource.competitionInfo.name}}</h3>
                </div>
            </div>
            <div class="panel-body">
                <sp-club-details [club]="club" *ngFor="let club of clubs | async"></sp-club-details>
            </div>
        </div>
    </div>
</div>